{%extends 'items/base.html'%}

{%block content1%}
{%load static%}
<div>
    <img src="{%static 'items/1431600.webp'%}" width="100%" height="100%">
</div>
<div style="display:flex;flex-direction:column;align-items:center;color:#555555; ">
    <p style="font-size:30px;">PLAN YOUR TOUR</p>
   
<div class="img-scroll">
    <a href="/agencies/" ><img src="{%static 'items/icon.jpeg'%}" width="150" height="250"></a>
    <a href='https://www.holidify.com/country/india/map-view.html' target="parent"><img src='{%static "items/6674483.jpg" %}' width="150" height="250"></a>
    <img src="" width="150" height="250">
    <img src="" width="150" height="250"> 
</div>  
<p style="color: #555555;font-size:21px">LIVE LIFE WITH NO <i>excuses</i>,TRAVEL WITH NO <i>regrets</i></p>
<a href='/booking/' class="links" >continue</a>  
</div>
{%endblock content1%}